/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
style={{background:"#e3c36e"}}
} */
:root{
  --primary-color : #eae7dd;
  --secondary-color :#a6af9a;
  --third-color : #4a4a4a;
  --fourth-color :#767969;
  --fifth-color :#e3c36e;

  margin: 0;
  padding: 0;
}

html{
  padding: 0;
  margin: 0;
} 


body{
  margin: 0;

}



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none; /* Quita el contorno */
  box-shadow: none; /* Elimina sombras aplicadas en algunos navegadores */
  border-color: initial; /* Restaura el color del borde predeterminado */
}