@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

.hiddenContainer {
    opacity: 0;
    /* transform: translateY(20px); */
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: hidden;
    height: 10vh;
    transition: .5s;

  }
  .title{
    font-size: 3.5em;
    font-family: "Italianno", serif;
    font-weight: 500;
    font-style: normal;
    color: #fff ;
  }
    
  .container{
    transition: .5s;
    background-size: contain;
    height: 7vh;
    width: 100%;
  }

  
.hiddenContainer {
  opacity: 0;
  /* transform: translateY(20px); */
  transition: opacity 0.5s ease, transform 0.5s ease;
  display: hidden;
  height: 7vh;
  transition: .5s;

}
  .containerZ{ 
    transition: .5s;
    background-size: contain;
    height: 7vh;
    width: 20%;
  }
  
  .weddingDetails{
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--fourth-color);
    /* transform: translateY(0); */
    transition: opacity 0.5s ease, transform 0.5s ease; 

  }
  .headerDetail{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }  
  .headerDetailZ{
    width: 100%;
    display: flex;
    justify-content: center; 
  }  
  
  

  .container,.containerZ,.temple{
    background-position: center;
    background-repeat: no-repeat;
  }
  

   
  .colorHidden{
    color: var(--primary-color);
    transition: .8s;
  }
  
  .eventPlace,.eventText{
    color:  var(--secondary-color);
    width: 100%;
  }

  .eventText{
    font-size: 1.7em;
    margin-top: 1em;
    text-align: start;
    box-sizing: border-box;
    transition: 2s;
  
  }
  .eventPlace{
    font-size: .9em;
    margin-bottom: 1vh;
    text-align: start;
    transition: .8s;
  
  }