.page{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-family: "Ovo", serif;
    background: var(--primary-color);
    color: #fff;
    padding: 2em 0;
}   

.footer{
    display: flex;
    justify-content: end;
    width: 100%;
    padding-right: 2em;
}


.leaves, .leavesTwo{
    height: 12vh;
    width:  12vh;
    background-repeat: no-repeat;
    background-size: contain;
}


.leaves{
    background-image: url('../../assets/leavesGiftTwo.svg');
    
}

.leavesTwo{
    background-image: url('../../assets/laevesGiftOne.svg');
}

.contTitle{
    display: flex;
    align-items: end;
    font-size: 1.4em;
    gap: .7em;
}

.iconGift{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../assets/gift_icon.svg');
    height: 4vh;
    width:  4vh;
}

.alias{
    font-size: 1.2em;
    color: var(--secondary-color);
}

.msgList{
    width: 80%;
    text-align: center;
    font-size: 1.2em;
}
.listContainer{
    margin-top: 2vh;
    margin-bottom: 5vh;
    height: 60vh;
    width: 70%;
    background: #4a4a4a;
    border-radius: 1em;
    overflow-y: scroll;
    padding-top: 2em;
    scrollbar-width: none; /* Firefox */

}

.listContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

/*item de los regalos*/
.containerItem{
    text-align: start;

    font-size: 1.2em;
    padding: .5em 1em;
    cursor: pointer;
    border-bottom: #76796934 solid 2px;
}

.titleGift{
    color: var(--secondary-color);
}

/*modal de regalos*/

.modalContainer{
    background: #222221e1;

    height: 100vh;
    width: 100vw;
    position:fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center; 
    animation: appear 1s ease-in-out; 
}
.modal{ 
    background:black;
    width: 90vw;
    box-sizing: border-box;
    padding-inline: 1em;
    border-radius: .5em ;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding-top:    1em;
    padding-bottom: 1em;
}

.headerModal{
    width: 100%;
    margin-bottom: 1em;
}
.msgGift{
    text-align: center;
    font-size: 1.1em;

}

.itemName{
    font-size: 1.8em;
    
}

.link{
    font-weight: 500;
    text-decoration: none;
    width: 90%;
    text-align: end;
    color: #e3c36e; 
}
.input{
    height: 2em;
    font-size: 1.1em;
    width: 100%;
    background: var(--primary-color);
    padding-inline: 1em;
    border-radius: .6em;
    margin-bottom: 1vh;
    color: #e3c36e;
}
.btnInput{
    padding: .5em 2em ;
    font-size: .9em;
    border-radius: .7em;
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-weight: 500;
    margin-bottom: 1vh;
    
}

.arrowBack{
    fill:  #2e2e2e;
    color: #2e2e2e;
}

circle{
    fill: #2e2e2e;
    stroke: #fff;
}

polyline{
    stroke: #fff;
}
.msgThankyou{
    font-weight:500;
    font-size: 1.7em;    
}