
.hiddenContainer {
    opacity: 0;
    /* transform: translateY(20px); */
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: hidden;
    color: var(--primary-color);
    height: 15vh;
    transition: .5s;

  }
    
  .container{
    transition: .5s;
    background-image: url('../../assets/logos.png');
    background-size: cover;
    height: 15vh;
    width: 100%;
  } 
  
  .weddingDetails{
    opacity: 1;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
    color: var(--fourth-color);
    font-family: "Lora", serif;
    /* transform: translateY(0); */
    transition: opacity 0.5s ease, transform 0.5s ease; 
  }
  
  
  
  .titlePages{
    font-size: 1.8em;
    font-weight: 400;
    padding-bottom: 1em;
  }
  
  .container,.temple{
    background-position: center;
    background-repeat: no-repeat;
  
  }
  

   
  .colorHidden{
    color: var(--primary-color);
    transition: .8s;
  }
  
  .eventText{
    font-size: 1.3em;
    margin-bottom: 3vh;
    text-align: center;
    box-sizing: border-box;
    transition: 2s;
  
  }
  .eventPlace{
    font-size: .9em;
    margin-bottom: 3vh;
    text-align: center;
    transition: .8s;
  
  }