
 
 .banner{
    margin-top: 6vh;
    background:black;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    padding-inline: 1em;
    opacity: 1;
    transition: .3s;

  }
  
  .bannerHidden{
    opacity: 0;
    margin-top: 10vh;
    background:black;
    
    padding-inline: 1em;
    transition: .3s;
  }

  .photoBanner,.leaveOne,.leaveTwo{
    background-position: start;
    background-repeat: no-repeat;
    opacity: 1;
  }

   
  .photoHidden{
    height: 28vh;
    opacity: 0;
    transition: 1s;
    margin-top: 1vh;
    margin-bottom: 1vh;

  }
  .photoBanner{
    height: 28vh;
    background-image: url('../../assets/banner_photo.svg');
    background-size: cover;
    transition: 1s;

  }


  
  .leaveTwo,.leaveOne{ 
    background-size: 15vh;
  }
  
  .leaveTwo{
    background-position:  top left;
    transition: 1s;

  }
  .leaveOne{
    background-position:  bottom right;


  }

  .leavesHidden{
    height: 24vh;
    opacity: 0;
    transition: 1s;
  }