.countdownPage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;


}

.phrase{
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-family: "Inria Serif", serif;
    font-weight: 600;
}

.chorometer{
    text-align: center;
    display: flex;
    gap: .4em;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 2.2em;
    font-family: "Sanchez", serif;
}

.time{ 
    font-size: .5em;
}

